@font-face {
  font-family: "brandon";
  src: url("_fonts/brandon\ grotesque/") format("opentype");
  font-family: "moret";
  src: url("_fonts/moret/") format("opentype");
  /* Adicione outras variações da fonte, se necessário */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #191919;
  color: #fff;
  font-family: moret, serif;
}

.top-logo {
  text-align: center;
}

.top-logo img {
  max-width: 200px;
}

.container {
  text-align: center;
}

h1 {
  font-size: 160px;
  margin-bottom: 4px;
}

#countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.countdown-segment {
  padding: 48px;
}

.countdown-number {
  font-family: moret, serif;
  font-size: 112px;
  color: #d1d1d1;
}

.countdown-label {
  font-family: "Brandon Grotesque", sans-serif;
  color: #d1d1d1;
  font-size: 32px;
}

.social-medias {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
  font-size: 40px;
  align-items: center;
}

.social-medias a {
  color: #cacaca;
  text-decoration: none;
}

.social-medias a:hover {
  color: #fff;
}

/* Estilos para a versão mobile */
@media only screen and (max-width: 768px) {
  .top-logo img {
    max-width: 32px;
  }

  h1 {
    font-size: 100px;
    margin-top: 112px;
    margin-bottom: 2px;
  }

  #countdown .countdown-segment {
    padding: 20px;
  }

  .countdown-number {
    font-size: 32px;
  }

  .countdown-label {
    font-size: 16px;
  }

  .social-medias {
    font-size: 24px;
    margin-top: 88px;
    align-items: center;
    font-size: 32px;
  }
}
